// Typography
$font-family-sans-serif:      "Nunito", "Roboto", sans-serif;
$body-color: #333333;
$enable-responsive-font-sizes: true;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.15 !default;
$h6-font-size:                $font-size-base !default;

$headings-color: #332e38;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;

// Navigation
$navbar-nav-link-padding-x: 1rem !default;


// All of your custom SCSS variables go first
$primary:       #7D61C8 ;
$secondary:     #ffffff ;
$light:         #f1f1f1 ;
$dark:          #000000 ;


// Spacing
.spacer {
  margin-top: 1rem;
}

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
