// Typography
$font-family-sans-serif:      "Roboto", sans-serif;

$headings-margin-bottom: 1rem;


// All of your custom SCSS variables go first
$primary:       #7D61C8 ;
$secondary:     #ffffff ;
$light:         #f1f1f1 ;
$dark:          #000000 ;


// Spacing
.spacer {
  margin-top: 2.5rem;
}

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
